// Place all the styles related to the character controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.character-block {
  background-color: #AAAAAA;
  border-radius: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  border-color: black;
  border-width: medium;
}

.main-area {
  font-size: 40px;
  min-height: 100px;
  width: 100%;
  display: grid;
  /* change the code below this line */

  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));

  /* change the code above this line */
  grid-template-rows: repeat(auto-fill, minmax(600px, 1fr));
  grid-gap: 10px;
}
